.commentbox
{
	width: 600px;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 5px;
	margin-bottom: 16px;
	background-color: royalblue;
	border-radius: 40px;
	color: white;

}

.profile
{
	padding-left: 50px;


}
h2 span 
{

	padding: 20px;
	margin-top: 80px;
	padding-left: 50px;
	font-size: 1.5em;
	line-height: 1.4cm;
	font-weight: 900;
	padding-top: 100px;
}