.thumb
{
	position: absolute;
	left: 40%;
	bottom: -100px;
	/*transform: translateX(-50%);*/
	display: flex;

}

/*.thumb a
{
	position: absolute;
	left: 50%;
	bottom: 90px;
	transform: translateX(-50%);
	display: flex;
	background-color: #000;
	color: #fff;
	white-space: nowrap;
	padding: 10px 15px;
	border-radius: 7px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease;

}

.thumb a::before
{
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: #000 #0000 #0000 #0000;

}*/



.thumb li 
{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb li:hover
{
	transform: translateY(-15px);
}
.thumb li img
{
	/*max-width: 60px;*/
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: royalblue;
	clip-path: circle(600px at right);
}











.thumb2
{
	position: absolute;
	left: 50%;
	bottom: -100px;
	/*transform: translateX(-50%);*/
	display: flex;

}
.thumb2 li 
{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb2 li:hover
{
	transform: translateY(-15px);
}
.thumb2 li img
{
	/*max-width: 60px;*/
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: royalblue;
	clip-path: circle(600px at right);
}












.thumb3
{
	position: absolute;
	left: 60%;
	bottom: -100px;
	/*transform: translateX(-50%);*/
	display: flex;

}
.thumb3 li 
{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb3 li:hover
{
	transform: translateY(-15px);
}
.thumb3 li img
{
	/*max-width: 60px;*/
}
.circle
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: royalblue;
	clip-path: circle(600px at right);
}